html {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 1.2;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* Para que el scrolleo en la one page sea suave */
    scroll-behavior: smooth;
}



header {
    /* background-color: #FFB5DA; */
    background-image: linear-gradient(0deg,
            rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url("../img/diseno-patron-color-pastel-acuarela.png");
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
}

main {
    display: block;
    max-width: 1200px;
    margin: auto;
    text-align: center;
    /* width: 100%; */
}

header a {
    margin: 1.2rem;
}

.logo {
    height: 90px;
}

#inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding-top: 90px;
}

.contacto {
    background-color: rgba(248, 149, 207, 0.694);
    margin: 1rem;
    border-radius: 10px;
    color: #0f0f0f;
}

#contacto {
    min-height: 100vh;
    margin-top: 15rem;
    padding-top: 90px;
}

#iconos img {
    background-color: #fbfbfb;
    height: 70px;
    width: 70px;
    margin: 1.5rem;
    margin-top: 6rem;
}

.foto-perfil {
    display: block;
    width: 400px;
    border-radius: 50%;
    margin: 2rem 0 2rem;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.3);
    /* width: 100%; */
    justify-content: center;
}

body {
    /* background-color: #fbfbfb; */
    background-image: linear-gradient(0deg,
            rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url("../img/textura\ pastel\ 3.png");
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100vw;
}

h1 {
    font-size: 36px;
    text-align: center;
}

h2 {
    font-size: 28px;
    text-align: center;
    margin: 0.8rem;
    padding: 0.5rem;
}

nav a {
    padding: 12px;
}

nav a:hover {
    background-color: rgba(248, 149, 207, 0.694);
    border-radius: 10px;
    color: rgb(255, 255, 255);
}

div.menu-item a.active {
    border-radius: 10px;
    background: #f6efb4;
    transition: background-color 0.3s;
}

#boton:hover {
    background-color: #944a9f;
    padding: 12px;
    color: rgba(42, 39, 41, 0.962);
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    margin: 20px;
    padding: 0.5rem;

}

#boton {
    /* background-color: #e9aafb; */
    background-image: linear-gradient(0deg,
            rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url("../img/diseno-patron-color-pastel-acuarela.png");
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.3);
    color: #0f0f0f;
    font-size: 20px;
    font-weight: bold;
    border-radius: 1.8rem;
    padding: 0.9rem;
    margin: 2rem;
}

footer {
    /* background-color: #e9aafb; */
    background-image: linear-gradient(0deg,
            rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url("../img/diseno-patron-color-pastel-acuarela.png");
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.3);
    color: #060606;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

@media(min-width:1024px) {
    h1 {
        font-size: 48px;
        text-align: left;
        padding-left: 25px;
    }

    h2 {
        font-size: 32px;
    }

    #inicio {
        flex-direction: row;
    }

    #inicio p {
        text-align: justify;
        line-height: 35px;
    }

    .escritorio {
        text-align: left;
    }

    #contacto {
        min-height: 10vh;
    }
}